.site-header{
	position: relative !important;
}

.form-item .form-type-select.form-item-sort-by{
	text-align:right;
	margin-right: 40%;
}
/*Label ordenar por pantalla búsqueda avanzada*/
.form-item .form-type-select.form-item-sort-by label{
	display: inline;
	color: #AEADAD;
	font-size: 13px;
	margin-right: 7.5px;
	font-family: "Source Sans Pro", sans-serif;
	line-height: 1.428571429;
	font-weight: normal;
	margin: 0px 5% 11px 0px;
}
/*select de les opcions per les quals ordenar*/
.form-item .form-type-select.form-item-sort-by select{
	vertical-align: middle;
	color: #626262;
	font-size: 14px;
	font-weight: 600;
	 /* Make sure the select is wider than the container so we can clip the arrow */
    /*width: 110%;
    max-width: 110%;
    min-width: 110%;*/
    /* Remove select styling */
    appearance: none;
    -webkit-appearance: none;
    /* Ugly Firefox way of doing it */
    -moz-appearance: window;
    text-indent: 0.01px;
    text-overflow: "";
    /* Magic font size number to prevent iOS text zoom */
    background: none;
    border: 1px solid #E5E5E5;
    outline: none;
    /* Padding works surpringly well */
    padding: 0 42px 0 12px;
    line-height: 1.2;
    margin: 0;
    height: 35px;
    -webkit-appearance:none;
    -moz-appearance: none;

}
.form-item.form-type-select.form-item-sort-by select::-ms-expand {
    display: none; 
}
.form-item.form-type-select.form-item-sort-by select:focus {
    outline: none; 
}
.form-item.form-type-select.form-item-sort-by select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000; 
}
.form-item.form-type-select .form-item-sort-by::before {
    position: absolute;
    content: '';
    width: 6px;
    height: 6px;
    right: 15px;
    margin-top: 13px;
    border-right: 1px solid #626262;
    border-bottom: 1px solid #626262;
    transform: rotate(45deg);
    /* This hack makes the select behind the arrow clickable in some browsers */
    pointer-events: none; 
    margin-right: 40%;

}
ul.menu li {
    display:inline;
}
.menu__item.is-leaf.leaf {
    padding-inline-start: 20px;
}
.view-display-id-block_2 .item-list ul {  
    display: inline-flex !important;
}
.view-display-id-block_2 .item-list li  {
    padding-left: 40px !important;
}

.site-footer-menu.display-only-up-sm.u-f.u-f-align-center{
    height: 80px;
}


select[name=pregunta]{
    color: #AEADAD;
    padding-top: 22.5px;
    padding-bottom: 22.5px;
    padding-left: 15px;
    padding-right: 15px;
}

.select:before{
    top: 34%;
    left: 91%;
}

@media (min-width: 768px) {
  .btn {
    max-width: 290px;
  }
}

.btn{
    width: 100%;
}

@media (min-width: 992px) {
    .p-home_btn {
      width: 290px !important;
      } 
}

ul .list-tick:before{
    content: '✓';
}

.list-plain-text{
    list-style: none;
    width: 80%;
}

.list-plain-text li{
    margin-bottom: 1%;
    margin-left: 5%;
}

.list-circle{
    list-style-type: circle;
}